.DS_Store
._.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.Renviron
CLAUDE.md
renv.lock
.claude
..Rcheck
renv
*.zip
*.rds
*.tiff
*.html
*.Rapp.history
*._.DS_Store
imcdatasets.Rproj
docs
